/* Global Styles */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d79af1;
    margin: 5vh;
    height: 100vh;
}
h1
{
    color: #f9f9f9;
    font-size: 15vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

header {
    background-color:#430A5D;
    padding: 2vh;
    line-height: 25px;
    margin: 10px;
    color:black;
    display: flex;
    flex-direction: column;
    border-radius: 10vh;
}

  
  .topdiv {
    float: right;
  }
  
  .button {
    --bg:#631a85;
    --hover-bg: white;
    --hover-text: #0f0008;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  
.button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button:active {
    transform: translate(0);
    box-shadow: none;
  }

  /* Carousel Container */
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10vh;
  }
  
  /* Carousel */
  .carousel {
    background-color: #EBD3F8;
    color: black;
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 400%; /* Based on the number of slides */
  }
  
  .carousel-slide {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* About Me Section */
  .about-me {
    color: black;
    text-align: left;
    padding: 5vh;
  }
  
  .about-me h1 {
    font-size: 2rem;
    color: black;
    font-size: large;
  }
  
  .about-me p {
    font-size: 1.2rem;
  }
  
  .profile_image {
    width: 200px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  /* Previous and Next Buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2vh;
    background-color: #2c0029;
    color: white;
    font-size: 3vh;
    border: none;
    user-select: none;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  /* Other Sections */
  .information, .recommendations, .contact-us {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
  }
  


  .iconbutton{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #2E073F;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
  }


.footer{
    background-color:#430A5D;
    padding: 2px;
    line-height: 25px;
    color:white;
    display: flex;
    flex-direction: column; 
    border-radius: 50px;
    border: 2px solid #430A5D;
    text-align: center;
    margin-top: 2px;
}




.card {
    width: 260px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .chat-window {
    height: 220px;
    overflow-y: scroll;
  }
  
  .message-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
  }
  
  .send-button {
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }


  .all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
  
  .skill {
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    box-shadow: 0 3px 10px gray;
  }
  .skills h6 {
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
  } 
  
  .skills p {
    align-items: center;
    font-size: 15px;
    color: gray;
    margin-block-start: 5px;
    margin-block-end: 5px;
  } 
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .job
  {
    box-sizing:border-box;
    margin-left: 20 px;
    color: white;
    background-color: #430A5D;
    border-radius: 30px;
    padding-left: 30px;
  }

  .skill{
    background-color: #a049c8;

  }

  .contact-us{
    background-color: #430A5D;
    border-radius: 35px;
    border:2px solid black;
    color: #ccc;
    line-height: 15px;
  }
    
    .topmenu {
        color: lightgray;
        margin: 10px;
        padding: 20px;
        font-size: 20px;
        text-decoration:none;
    }
    
    .topmenu:hover {
        color: white;
        /* Add the styles here */
        font-weight: bolder;
        text-decoration: underline;
    }
    
    .topdiv {
        float: right;
        padding-right: 1cm;
    }
    .logo img {
        width:25px;
        margin-right: 10px;
        float:left;
    }
    .all_recommendations {
        display: flex;
        align-items: center;
        margin-left: 1in;
        flex-direction: row;
        flex-flow: wrap;
        padding: 20px;
      }
      
      .recommendation {
        font-style: italic;
        text-align: left;
        width: 21.875rem;
        padding: 1rem;
        background-color: #fff;
        border-radius: 11px;
        box-shadow: 0 3px 10px var(--primary-shadow);
        padding: 20px;
        margin: 10px;
        border:1px solid gray;
        font-size: 18px;
        height:150px
      }
      

      .iconbutton{
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: #a049c8;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 3%;
        bottom: 3%;
        cursor: pointer;
      }


      .skill {
        transition: all 0.3s ease-in-out;
        font-family: "Dosis", sans-serif;
      }
      
      .skill {
        width: 150px;
        height: 60px;
        border-radius: 50px;
        background-image: linear-gradient(135deg, #710069 0%, #ea5455 100%);
        box-shadow: 0 20px 30px -6px rgba(255, 137, 214, 0.5);
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 24px;
        color: white;
      }
      
      .skill:hover {
        transform: translateY(3px);
        box-shadow: none;
      }
      
      .skill:active {
        opacity: 0.5;
      }

      h6{
        text-align: center;
        padding-top: 0px;   
        float: center;
      }
      
     .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh; /* Full viewport height */
    }

    .card {
      width: 320px;
      padding: 30px;
      background: #fff;
      border: 8px solid #000;
      box-shadow: 15px 15px 0 #000;
      transform: rotate(-2deg);
      transition: all 0.3s ease;
      position: relative;
      overflow: hidden;
    }

    .card:active {
      animation: shake 0.5s ease-in-out;
    }

    .card:hover {
      transform: rotate(0deg) scale(1.02);
      box-shadow: 20px 20px 0 #000;
    }

    .banner {
      position: absolute;
      top: 3px;
      right: -95px;
      background: #000;
      color: #fff;
      padding: 15px;
      width: 350px;
      text-align: center;
      transform: rotate(45deg);
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 2px;
      overflow: hidden;
      transition: background 0.5s ease;
    }

    .banner-text {
      display: inline-block;
      transition: opacity 0.5s ease, transform 0.5s ease;
      width: 100%;
      position: absolute;
      left: 13%;
      top: 50%;
      transform: translateY(-50%);
    }

    .banner:hover .banner-text:first-child {
      opacity: 0;
      transform: translateY(-100%);
    }

    .banner:hover .banner-text:last-child {
      opacity: 1;
      transform: translateY(-40%);
    }

    .banner-text:last-child {
      opacity: 0;
      transform: translateY(60%);
    }

    .banner:hover {
      background: red;
    }

    .card__title {
      font-size: 24px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #000;
      width: 50%;
    }

    .card__subtitle {
      font-size: 16px;
      line-height: 1.4;
      color: #333;
      margin-bottom: 20px;
      padding-bottom: 10px;
    }

    .card__form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .card__form input {
      padding: 12px;
      border: 4px solid #000;
      font-size: 16px;
      font-family: "Proxima Nova", sans-serif;
      transition: all 0.3s ease;
      background-color: #fff;
    }

    .card__form input:focus {
      outline: none;
      transform: scale(1.05);
    }

    .sign-up {
      border: 4px solid #000;
      background: #000;
      color: #fff;
      padding: 5px;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .sign-up:hover {
      background: #fff;
      color: #6e007e;
      transform: translateY(-5px);
      box-shadow: 0 5px 0 #580050;
    }

    .sign-up:active {
      animation: shake 0.5s ease-in-out;
      transform: translateY(0);
      box-shadow: none;
    }

    @keyframes shake {
      0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-5px);
      }
      50% {
        transform: translateX(5px);
      }
      75% {
        transform: translateX(-5px);
      }
      100% {
        transform: translateX(0);
      }
    }
